RewriteEngine on

# RewriteCond %{HTTP_HOST} ^link\.com\.br [NC]
# RewriteRule (.*) http://www.link.com.br/$1 [R=301,L]

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d

RewriteRule ^(.*)$ index.php?requisicao=$1

# Corrige o 'bug' que faz com que em algumas v. do firefix a ulr do @font-face não exiba corretamente as fontes
# fazendo com que funcionem tanto em http://mysite.com como em http://www.mysite.com
<FilesMatch "\.(ttf|otf|eot|woff)$">

    <IfModule mod_headers.c>

        Header set Access-Control-Allow-Origin "*"

    </IfModule>

</FilesMatch>

<IfModule mod_deflate.c>

    # Compactar por tipo - html, text, css, xml
    AddOutputFilterByType DEFLATE text/html text/plain text/css text/xml

    # Compactar por tipo - javascript
    AddOutputFilterByType DEFLATE application/x-javascript application/javascript text/javascript text/x-js text/x-javascript

    # Compactar por extensão
    AddOutputFilter DEFLATE js css htm html xml ttf eot

</IfModule>

# Ativa o cache
<FilesMatch "\.(?i:ico|gif|jpe?g|png|css|js|svg)$">

    <IfModule mod_expires.c>

        ExpiresActive On

    </IfModule>

    FileETag None

</FilesMatch>

# Cache de 1 semana pras imagens
<FilesMatch "\.(?i:gif|jpg|jpeg|png)$">

    <IfModule mod_expires.c>

        ExpiresDefault "access plus 1 mouth"

    </IfModule>

</FilesMatch>

# Cache de 1 ano pros icones (geralmente favicon)
<FilesMatch "\.(?i:ico)$">

    <IfModule mod_expires.c>

        ExpiresDefault "access plus 1 year"

    </IfModule>

</FilesMatch>

# Cache de 6 meses pra arquivos js e css
<FilesMatch "\.(?i:css|js)$">

    <IfModule mod_expires.c>

        ExpiresDefault "access plus 6 mouths"

    </IfModule>

</FilesMatch>

# Remove o Etag no final
<FilesMatch "\.(?i:ico|gif|jpg|jpeg|png|css|js|svg)$">

    FileETag None

</FilesMatch>


#php_flag display_startup_errors on
#php_flag display_errors on
#php_flag html_errors on
#php_flag  log_errors on