RewriteEngine on

# RewriteCond %{HTTP_HOST} ^localhost\.host [NC]
# RewriteRule (.*) http://www.localhost.host/$1 [R=301,L]

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d

RewriteRule ^(.*)$ index.php?requisicao=$1

# Corrige o 'bug' que faz com que em algumas v. do firefix a ulr do @font-face não exiba corretamente as fontes
# fazendo com que funcionem tanto em http://mysite.com como em http://www.mysite.com
<FilesMatch "\.(ttf|otf|eot|woff)$">

    <IfModule mod_headers.c>

        Header set Access-Control-Allow-Origin "*"

    </IfModule>

</FilesMatch>

# Ativa o cache
<FilesMatch "\.(?i:ico|gif|jpe?g|png|css|js|svg)$">

    <IfModule mod_expires.c>

        ExpiresActive On

    </IfModule>

    FileETag None

</FilesMatch>

# Cache de 1 semana pras imagens
<FilesMatch "\.(?i:gif|jpg|jpeg|png)$">

    <IfModule mod_expires.c>

        ExpiresDefault "access plus 1 month"

    </IfModule>

</FilesMatch>

# Cache de 1 ano pros icones (geralmente favicon)
<FilesMatch "\.(?i:ico)$">

    <IfModule mod_expires.c>

        ExpiresDefault "access plus 1 year"

    </IfModule>

</FilesMatch>

# Cache de 6 meses pra arquivos js e css
<FilesMatch "\.(?i:css|js)$">

    <IfModule mod_expires.c>

        ExpiresDefault "access plus 6 months"

    </IfModule>

</FilesMatch>

# Remove o Etag no final
<FilesMatch "\.(?i:ico|gif|jpg|jpeg|png|css|js|svg)$">

    FileETag None

</FilesMatch>

ErrorDocument 404 "<b>Nos nao conseguimos encontrar a pagina...</b><br><br>Desculpe, mas a pagina que voce esta procurando nao foi encontrada ou nao existe. Tente atualizar a pagina!"


#php_flag display_startup_errors on
#php_flag display_errors on
#php_flag html_errors on
#php_flag  log_errors on